.Project {
  position: relative;
  height: 566px;
}

.Project h1 {
  box-sizing: border-box;
  width: 340px;
  height: 80px;
  color: #214869;
  border-bottom: 1px solid #ffdddd;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  margin: 0 auto;
}

.Btn {
  color: #214869;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 85%;
  bottom: -15%;
}

.Btn:hover {
  background-color: #fff;
  color: #9a0606;
}

.card-container {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-container.open .card-image img {
  transform: scale(1.05);
}

.card-description {
  position: absolute;
  bottom: -10%;
  height: 54%;
  background-color: rgb(215, 211, 211);
  color: #214869;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  transition: bottom 0.5s ease;
  display: none;
}

.card-container.open .card-description {
  bottom: -50%;
  display: block;
}

.card-description p {
  margin: 0;
}

.button-card {
  color: #9a0606;
  position: absolute;
  right: 3%;
  bottom: 2%;
}

@media (max-width: 1200px) {
  .Project {
    height: auto;
  }

  .Project h1 {
    width: 100%;
    font-size: 2rem;
    height: auto;
  }

  .Btn {
    display: none;
  }

  .card-container {
    height: auto;
  }

  .card-image {
    height: 200px;
  }

  .card-description {
    position: absolute;
    background-color: rgb(215, 211, 211);
    color: #214869;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    transition: bottom 0.5s ease;
    display: none;
  }

  .card-container.open .card-description {
    bottom: 0;
    display: block;
  }

  .button-card {
    bottom: 3%;
  }
}

@media (max-width: 768px) {
  .Project {
    height: auto;
  }

  .Project h1 {
    font-size: 1.5rem;
    width: 100%;
  }
  .Btn {
    display: none;
  }

  .card-container {
    height: auto;
    position: relative;
  }

  .card-image {
    height: 180px;
  }

  .card-description {
    position: absolute;
    background-color: rgb(215, 211, 211);
    color: #214869;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    transition: bottom 0.5s ease;
    display: none;
  }

  .card-container.open .card-description {
    bottom: 0;
    display: block;
  }

  .button-card {
    bottom: 5%;
  }
}
