.Project {
  position: relative;
}
.Project h1 {
  box-sizing: border-box;
  width: 340px;
  height: 80px;
  color: #214869;
  border-bottom: 1px solid #ffdddd;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  margin: 0 auto;
}
.Btn {
color: #214869;
  border-radius: 30px;
 font-size: 20px;
 font-weight: 700;
}
.Btn:hover{
    background-color: #fff;
    color: #9a0606;
}
