.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.About h1 {
  box-sizing: border-box;
  width: 250px;
  height: 80px;
  color: #214869;
  border-bottom: 1px solid #FFDDDD;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}


.about-content {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  align-items: center;
  max-width: 70%;
  background-color: #f7f7f7;
  padding: 1rem;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.about-text {
  width: 60%;
  padding-right: 2rem;
}

.about-text h2 {
  left: 25.52%;
  right: 25.43%;
  top: 85%;
  bottom: 83.97%;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.04em;
  background: linear-gradient(180deg, #bf0000 12.5%, #3d79ac 99.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about-text p {
  font-size: 1.5rem;
  color: #333;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #214869;
}

.read-more-btn {
  padding: 1px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #9A0606;
}

.read-more-btn:hover {
  background-color: #9A0606;
  color: #f7f7f7;
}

.about-images{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 22%;
  right: 7%;
}

.mask {
  position: absolute;
  width: 70%;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 999px) {
  .about-content {
    flex-direction: column;
    padding: 2rem; 
    align-items: center; 
  }

  .about-text {
    width: 100%; 
    padding-right: 0; 
  }

  .about-images {
    width: 30%; 
    right: 0;
  }
}
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    padding: 2rem; 
    align-items: center; 
  }

  .about-text {
    width: 100%; 
    padding-right: 0; 
  
  }

  .about-images {
    width: 50%; 
    right: 0;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 2rem;
  }
.about-text h2{
  font-size: 1.3rem;
}
  .about-text p {
    font-size: 1rem; 
    line-height: 1.5; 
  }

  .read-more-btn {
    width: 80%; 
    margin-top: 1rem; 
  }
}
